<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted ">
  <!-- Section: Social media -->

  <!---- formulario de suscripción------>
  <div class="d-flex justify-content-center">
    <app-formulario-suscripcion></app-formulario-suscripcion>
  </div>

  <!-- Section: Links  -->
  <section class="p-2 ">
    <div class="container-fluid text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h5 class="text-uppercase fw-bold mb-3">
            Preguntas frecuentes
          </h5>
          <p>¿Qué es un CRM?</p>
          <p>Servicios disponibles</p>

        </div>
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-3">
            Soporte técnico
          </h5>
          <p> Contactar a un experto</p>
          <p> Centro de ayuda</p>

        </div>

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-3 ">
            Integraciones
          </h5>
          <p>Directorio de integraciones</p>
          <p>Seguridad</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
          <!-- Links -->
          <h5 class="text-uppercase fw-bold mb-2">Contacto</h5>

          <p> contacto@domohogar.pe</p>
          <p>+51 234 567 88</p>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="container-fluid text-white" style="background-color: #4053a0; text">
    <div class="row">
      <div class="col-md-2  mt-2 mb-3">
        <img src="/assets/img/logo1.png" height="80px" alt="logo-domohogar-rectangular">
      </div>
      <div class="col text-center   mt-5">
        © 2022 Derechos reservados
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->