<mat-card>
    <mat-card-title class="title my-4">Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field class="example-full-width" class="input-login">
        <mat-label>Correo</mat-label>
        <input
          type="email"
          matInput
          formControlName="email"
          placeholder="Ingrese su correo"
          
        />
        <mat-error *ngIf="form.controls.email.hasError('pattern')">
          El correo sebe seguir el formato
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('email')">
          El correo sebe seguir el formato
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('required')">
          El correo es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
  </p>

  <p>
    <mat-form-field class="input-login">
        <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Contraseña" formControlName="password">
      <mat-error *ngIf="form.controls.password.hasError('required')">
        Debes ingresar una contraseña
      </mat-error>
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button type="submit" mat-raised-button color="primary">Ingresar</button>
  </div>

</form>
</mat-card-content>
</mat-card>