<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre Completo</mat-label>
    <input
      type="text"
      matInput
      formControlName="name"
      placeholder="Ingrese su nombre completo"
    />
    <mat-error *ngIf="usuarioForm.controls.name.hasError('maxlength')">
      El nombre debe tener como máximo <strong>50 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.name.hasError('pattern')">
      El nombre solo puede contener <strong>letras</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.name.hasError('required')">
      El nombre completo es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Nombre de usuario</mat-label>
    <input
      type="text"
      matInput
      formControlName="username"
      placeholder="Ingrese un nombre de usuario"
    />
    <mat-error *ngIf="usuarioForm.controls.username.hasError('maxlength')">
      El nombre de usuario debe tener como máximo <strong>25 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.username.hasError('pattern')">
      El nombre solo puede contener <strong>letras, números, -, y _</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.username.hasError('required')">
      El nombre de usuario es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Correo</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ingrese su correo"
    />
    <mat-error *ngIf="usuarioForm.controls.email.hasError('pattern')">
      El correo sebe seguir el formato, por ejemplo <strong>correo@gmail.com</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.email.hasError('email')">
      El correo sebe seguir el formato, por ejemplo <strong>correo@gmail.com</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.email.hasError('required')">
      El correo es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Teléfono</mat-label>
    <input
      type="tel"
      matInput
      formControlName="phone"
      placeholder="Ingrese su teléfono"
    />
    <mat-error *ngIf="usuarioForm.controls.phone.hasError('pattern')">
      El número de teléfono solo puede contener <strong>números</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.phone.hasError('minlength')">
      El número de teléfono debe tener como mínimo <strong>7 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.phone.hasError('maxlength')">
      El número de teléfono debe tener como máximo <strong>9 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.phone.hasError('required')">
      El teléfono es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Sitio Web</mat-label>
    <input
      type="text"
      matInput
      formControlName="website"
      placeholder="Ingrese su sitio web"
    />
    <mat-error *ngIf="usuarioForm.controls.website.hasError('pattern')">
      El sitio web debe seguir el formato, por ejemplo <strong>www.sitio.com</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.website.hasError('maxlength')">
      El sitio web debe tener como máximo <strong>50 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="usuarioForm.controls.website.hasError('required')">
      El sitio web es <strong>obligatorio</strong>
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="usuarioForm.invalid"
  >
    Registrar
  </button>
</form>

<!--<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="name">
  
    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="username">

    <label for="email">First Name: </label>
    <input id="email" type="email" formControlName="email">
  
    <label for="phone">Last Name: </label>
    <input id="phone" type="tel" formControlName="phone">

    <label for="website">Last Name: </label>
    <input id="website" type="text" formControlName="website">

    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!usuarioForm.valid">Submit</button>
</form>-->
