<!-- Cards with media area -->
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Gestión de clientes</mat-card-title>
        <mat-card-subtitle>La gestión de las relaciones con los clientes o CRM es una estrategia para gestionar todas las relaciones e interacciones de una empresa con sus clientes potenciales y existentes. Un sistema CRM ayuda a las empresas a mantenerse en contacto con los clientes, agilizar los procesos y mejorar la rentabilidad. </mat-card-subtitle>
        <img mat-card-xl-image src="/assets/img/crm.png" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary" routerLink="/usuarios">Ir a clientes</button>
    </mat-card-content>
  </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title> Gestión de ventas </mat-card-title>
          <mat-card-subtitle>La gestión de las ventas implica el establecimiento de objetivos tácticos de venta, el desarrollo y la supervisión del plan de acción actual, la planificación y la gestión de los recursos necesarios para el soporte de ventas en curso. </mat-card-subtitle>
          <img mat-card-xl-image src="https://www.inacatalog.com/hubfs/Indicadores%20Comerciales.png" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" routerLink="">Ir a ventas</button>
      </mat-card-content>
    </mat-card>

    
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Soporte al usuario</mat-card-title>
          <mat-card-subtitle> Prestamos un servicio de asistencia a nuestros clientes para garantizar el funcionamiento de nuestra plataforma. <br>
          Suscribete para mas información sobre nuestros servicios </mat-card-subtitle>
          <img mat-card-xl-image src="/assets/img/soporte_tecnico.png" >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" routerLink="/contacto">Ayuda</button>
      </mat-card-content>
    </mat-card>
  

  
